<h1 style="text-align: center;">FHX .csv Differ</h1>

<div class="container hidden-print">
  <div style="display: flex; flex-direction: column;">
    <label for="header-row">
      <span>Header Row (starts at 0)</span>
      <input type="number" [(ngModel)]="headerRow" />
    </label>

    <div style="display: flex; justify-content: space-between;">
      <label for="header-row">
        <span>Index column key</span>
        <input type="text" [(ngModel)]="idxCol" />
      </label>

      <label for="header-row">
        <span>Name column key</span>
        <input type="text" [(ngModel)]="nameCol" />
      </label>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between;">
    <label for="file-original">
      <span>Original</span>
      <input type="file" id="file-original" accept=".csv" (change)="loadOriginalFile($event)">
    </label>

    <label for="file-changed">
      <span>Changed</span>
      <input type="file" id="file-changed" accept=".csv" (change)="loadChangedFile($event)">
    </label>
  </div>

  <div style="display: flex; justify-content: center; margin: 1rem .5rem .5rem;">
    <button class="big-button" (click)="compare()" [disabled]="!originalFile.file || !changedFile.file || !nameCol">Compare</button>
  </div>
</div>

<div class="container" *ngIf="result && result.length > 0">
  <h2 class="hidden-print">Result</h2>
  <ul>
    <li *ngFor="let r of result">
      <span style="font-weight: bold;">{{r.id}} - {{r.name}}</span>
      <ul>
        <li *ngFor="let c of r.changes" [innerHTML]="getTextMessage(c)"></li>
      </ul>
    </li>
  </ul>
</div>

<div class="container" *ngIf="(result && result.length === 0) || errorMessage">
  <span class="error-text">{{errorMessage}}</span>
</div>